body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: rgb(168, 197, 201); /* Background color */
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.logo {
    max-width: 170px; /* מתאים למידות קטנות יותר */
    height: auto;
    margin: 0 auto;
    display: block;
}


h1 {
    color: #333;
    margin: 20px 0;
    font-size: 1.8rem;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 400px;
    margin: 0 auto;
}

label {
    display: block;
    margin: 10px 0 5px;
    text-align: left;
}

input, select, button {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    background-color: #007bff;
    color: #fff;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

/* Media Query for smaller screens */
@media (max-width: 768px) {
    h1 {
        font-size: 1.5rem;
    }

    form {
        padding: 15px;
    }
}

/* Media Query for very small screens (e.g., phones) */
@media (max-width: 480px) {
    h1 {
        font-size: 1.2rem;
    }

    form {
        padding: 10px;
    }
}
